{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":10,"column":0},"end":{"row":10,"column":1},"action":"insert","lines":["."],"id":2}],[{"start":{"row":10,"column":1},"end":{"row":10,"column":2},"action":"insert","lines":["c"],"id":3}],[{"start":{"row":10,"column":2},"end":{"row":10,"column":3},"action":"insert","lines":["9"],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":3},"end":{"row":10,"column":3},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1483247570848,"hash":"b3081a9f56e7a002f9b703b7c69ed3af515c1319"}